In [1]:
!pip install pyxlsb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

In [2]:
import pandas as pd    
import pyxlsb           
import numpy as np

In [3]:
from google.colab import files 
upload =files.upload()

Saving stc TV Data Set_T1.xlsb to stc TV Data Set_T1.xlsb

In [5]:
import io
df=pd.read_excel('stc TV Data Set_T1.xlsb')

In [6]:
df.head()

,Column1,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
0,1,42882,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets
1,3,42876,7946,Moana,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana
2,4,42957,7418,The Mermaid Princess,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
3,5,42942,19307,The Mermaid Princess,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
4,7,42923,15860,Churchill,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill

In [9]:
df.shape

(1048575, 13)

In [10]:
df.drop(columns=['Column1'])

,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
0,42882,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets
1,42876,7946,Moana,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana
2,42957,7418,The Mermaid Princess,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
3,42942,19307,The Mermaid Princess,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
4,42923,15860,Churchill,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill
...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,42847,23716,Extraterrestrial,4865,MOVIE,0,0,Horror MovieExtraterrestrial (HD),Horror,0,0,Extraterrestrial
1048571,43068,1776,Friends The One With The Holiday Armadillo,1261,SERIES/EPISODES,7,10,Comedy MovieThe One With The Holiday Armadillo...,Comedy,0,0,Friends
1048572,42901,1918,Masters of Horror Dreams In The Witch House,6,SERIES/EPISODES,1,2,Horror MovieDreams In The Witch House,Horror,0,0,Masters of Horror
1048573,42989,25737,Two Lovers and a Bear,72,MOVIE,0,0,Drama MovieTwo Lovers and a Bear (HD),Drama,0,1,Two Lovers and a Bear
1048574,42857,19844,American Psycho,2685,MOVIE,0,0,Drama MovieAmerican Psycho (HD),Drama,0,1,American Psycho

In [11]:
#trim spaces in movies names to avoid misspellings in input data
df['program_name'].str.strip() 
df['date_'] = pd.to_datetime(df['date_'], unit='d', origin='30/12/1899')  # read date column as date data type
df[['duration_seconds', 'season','episode','series_title','hd']] = df[['duration_seconds', 'season','episode','series_title','hd']].apply(pd.to_numeric)  # read numeric columns as numeric data types
df[['user_id_maped', 'program_name','program_class','program_desc','program_genre','original_name']] = df[['user_id_maped', 'program_name','program_class','program_desc','program_genre','original_name']].astype(str) # read string columns as string data types

In [12]:
df.head()

,Column1,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
0,1,2017-05-27,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets
1,3,2017-05-21,7946,Moana,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana
2,4,2017-08-10,7418,The Mermaid Princess,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
3,5,2017-07-26,19307,The Mermaid Princess,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
4,7,2017-07-07,15860,Churchill,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill

In [14]:
# describe the numeric values in the dataset
df.describe()

,Column1,duration_seconds,season,episode,series_title,hd
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,6.281730e+05,1.230957e+03,1.342139e+00,6.157952e+00,1.205922e-02,3.862728e-01
std,3.597041e+05,6.821058e+03,2.104095e+00,1.222015e+01,1.091504e-01,4.868946e-01
min,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.180660e+05,5.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.303550e+05,1.190000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,9.398225e+05,1.328000e+03,1.000000e+00,9.000000e+00,0.000000e+00,1.000000e+00
max,1.247852e+06,1.461329e+06,2.300000e+01,2.820000e+02,1.000000e+00,1.000000e+00

In [15]:
# check if any column has null value in the dataset
df.isnull().any()

Column1             False
date_               False
user_id_maped       False
program_name        False
duration_seconds    False
program_class       False
season              False
episode             False
program_desc        False
program_genre       False
series_title        False
hd                  False
original_name       False
dtype: bool

In [7]:
# Here we try to get the most watched movies (Total Views / Total Users Views / Total watch time)
# For series we concatenated the Session episode to differentiate between episodes 
grouped=df.copy()
grouped.loc[grouped['program_class'] == 'SERIES/EPISODES', 'program_name'] = grouped['program_name']+'_SE'+grouped['season'].astype(str)+'_EP'+grouped['episode'].astype(str)
grouped = grouped.groupby(['program_name','program_class'])\
.agg({'user_id_maped': [('co1', 'nunique'),('co2', 'count')],\
      'duration_seconds': [('co3', 'sum')] }).reset_index()
grouped.columns = ['program_name','program_class','No of Users who Watched', 'No of watches', 'Total watch time in seconds']
grouped['Total watch time in houres']=grouped['Total watch time in seconds']/3600
grouped = grouped.drop(columns=['Total watch time in seconds'])
grouped = grouped.sort_values(by=['Total watch time in houres', 'No of watches','No of Users who Watched'], ascending=False).reset_index(drop=True)

In [8]:
# show the result
grouped.head(35)

,program_name,program_class,No of Users who Watched,No of watches,Total watch time in houres
0,The Boss Baby,MOVIE,3348,23625,2889.027778
1,The Expendables,MOVIE,853,2119,1961.159444
2,Moana,MOVIE,2112,7521,1540.544444
3,Trolls,MOVIE,2584,13609,1512.580278
4,Bean,MOVIE,949,3617,1423.955000
5,The murfs,MOVIE,726,2438,1190.363889
6,The Amazing pider-Man,MOVIE,650,1679,1157.005833
7,Cloudy With a Chance of Meatballs,MOVIE,683,2076,948.674722
8,Hotel Transylvania,MOVIE,375,1387,905.437778
9,The Amazing pider-Man,MOVIE,443,1087,782.467500
10,Salt,MOVIE,563,1082,767.392778
11,Unbroken,MOVIE,625,1429,763.078333
12,ParaNorman,MOVIE,614,1746,747.065556
13,Youm Maloosh Lazma,MOVIE,1131,2278,718.109722
14,Ferdinand,MOVIE,1276,6811,714.076389
15,White Chicks,MOVIE,307,916,711.840833
16,Jurassic Park,MOVIE,504,1192,693.394444
17,The November Man,MOVIE,494,1219,679.492222
18,Robin Hood,MOVIE,572,1177,641.772222
19,Public Enemies,MOVIE,368,716,634.035000
20,Daddy Day Camp,MOVIE,263,647,625.338333
21,Oblivion,MOVIE,790,1678,609.391111
22,Blitz,MOVIE,562,1200,570.521944
23,Inside Man,MOVIE,532,1567,560.386111
24,Bad Boys,MOVIE,438,871,559.277500
25,Battleship,MOVIE,634,1324,552.857222
26,The Man With The Iron Fists,MOVIE,550,1513,542.098611
27,Baywatch,MOVIE,2030,7332,527.706944
28,Police tory,MOVIE,409,737,520.077222
29,Blindspot Erase Weary Youth _SE1_EP13,SERIES/EPISODES,125,197,516.015556
30,47 Ronin,MOVIE,521,1701,515.014722
31,The Lego Movie,MOVIE,373,910,501.729722
32,PAW Patrol Pups Make A plash / Pups Fall Fest...,SERIES/EPISODES,407,1774,485.739722
33,Alien: Covenant,MOVIE,1500,4166,478.551389
34,PAW Patrol Pups ave The ea Turtles _SE1_EP2,SERIES/EPISODES,334,1439,478.470278

In [9]:
# we import Visualization libraries 
# you can ignore and use any other graphing libraries 
import matplotlib.pyplot as plt # a comprehensive library for creating static, animated, and interactive visualizations
import plotly #a graphing library makes interactive, publication-quality graphs. Examples of how to make line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts, and bubble charts.
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [10]:
# plot top 10 Programs 
fig = px.pie(grouped.head(10), values='Total watch time in houres', names='program_name',\
             hover_data=['program_class'],title='top 10 programs in total watch time in houres')
fig.show()